*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main{
    background-color: rgba(245, 223, 255, 0.8)!important;
    background-image: url(https://r4.wallpaperflare.com/wallpaper/798/625/165/anime-hajime-no-ippo-takeshi-sendo-wallpaper-5b064c3dd3810f2935846bb9cdac4c20.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labase{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding:30px;
}

.labase h1{
    font-size: 35px;
    color:darkblue;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding: 1rem;
}

.quizz{
    padding: 20px 0px;
}

.quizz h2{
    font-size: 18px;
    color: #333;
    font-weight: 600;
    padding: 1rem;
}
.btn{
    background:#fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid;
    padding:10px;
    margin: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition:all 0.3s;
}

.btn:hover{
    background: #222;
    color: #ededed;
}

#suivant{
    background: #222;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 3px;
    cursor: pointer;
    display: none;

}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}